@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply px-5;
  font-family: 'Poppins', Helvetica, sans-serif;
}

main {
  @apply min-h-screen text-grey-50;
  background-image: url('/background.svg');
  background-repeat: no-repeat;
}